= simple_form_for [ :backend, resource ], :wrapper => :inline do |f|
  %fieldset
    %legend Please enter some widget info
    = f.input :name
    = f.association :product
    = f.input :active
  .actions
    = f.submit :class => "btn primary"
    %button.btn{:type => "reset"} Cancel
