- content_for :header do
  %h1= resource_class.model_name.human(count: 2)

%ul.tabs
  %li.active= link_to "Index", "#"
  %li= link_to "New", new_resource_path

%table.zebra-striped
  %thead
    %tr
      - attributes.each do |attr|
        %th= resource_class.human_attribute_name(attr)
      %th &nbsp;
  %tbody
    - collection.each do |resource|
      %tr[resource]{odd_or_even}
        - attributes.each do |attr|
          %td= resource.public_send(attr).to_s.truncate(20)
        %td.row-actions
          = link_to 'show', resource_path(resource)
          |
          = link_to 'edit', edit_resource_path(resource)
          |
          = link_to 'destroy', resource_path(resource), method: :delete, confirm: "Are you sure?"

= paginate collection
